
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/products/details">Laptop</a></li>
    <li><a href="/products/details">Tablet</a></li>
    <li><a href="/products/details">Desktop</a></li>
</ul>